* {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

header,
footer {
    padding: 1rem;
    background-color: #424055;
    color: #ffffff;
}

header {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

h3 {
    display: block;

    padding: 1rem;
    background-color: #545d74;
    color: #fff;
}

div h3 {
    padding: 0 0.5rem;
    margin-bottom: 0.5rem;
}

#items a {
    margin: 0 2rem;
}

.hideShow {
    display: none;
    padding: 1rem;
}

.hideShow a,
summary {
    color: black;
    border-bottom: solid 1px #aaa;
    padding: 0.3rem;
}

.hideShow a:hover,
summary:hover {
    background-color: #b6b1ad;
}



#items div:target {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #d9d5d1;
    scroll-margin-top: 7rem;
    border-bottom: solid #bda898;
    box-shadow: 2px 2px #bda898;
    box-shadow: inset 0px 0px 6px 3px #bda898;
}


a {
    color: #ffffff;
    text-decoration: none;
}

a::before {
    content: "# ";
}

#menu a::before {
    content: " ";

}

#menu {
    display: flex;
    background-color: #ad998a;
}

#menu div {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    padding: 1rem;
    gap: 0.5rem;

}

#menu a {
    text-decoration: none;
    background-color: #778794;
    color: #ffffff;
    padding: 0.5rem;
    border-radius: 0.3rem;
}

#menu a:hover {
    background-color: #8ea1b1;
    color: black;
}


details {
    padding: 0 1rem;

}

summary {
    margin-bottom: 0.5rem;
    cursor: pointer;
}

p {
    padding: 0.5rem;
    margin: 0 0.5rem;
}

iframe {
    width: 90vw;
}
footer{
    padding: 0;
}
#img{
    background-color: #ad998a;    
    text-align: center;
}
img{
    width: 20%;
    height: 20%;
}