* {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   box-sizing: border-box;
   margin: 0;
   
}

*::selection{   
   color: orange;
   background-color: #000;
}
a {
   text-decoration: none;
}

a:hover {
   font-weight: bold;
   background-color: rgb(0, 0, 0);
   color: orange;
   transition: all 0.2s;
   -webkit-transition: all 0.2s;
   -moz-transition: all 0.2s;
   -o-transition: all 0.2s;
}