@import "values.css";



header {
    display: flex;
    padding: 2rem;
}

nav {
    padding: 1rem;
    text-align: center;
}


@keyframes blink {

    0%,
    10% {
        color: transparent;
    }

    20% {
        content: " educación";
        color: var(--acento);
    }

    30% {
        color: transparent;

    }

    40% {
        content: " información";
        color: var(--acento);
    }

    50% {
        color: transparent;
    }

    60% {
        content: " conciencia";
        color: var(--acento);
    }

    70% {
        color: transparent;
    }

    80% {
        content: " justicia";
        color: var(--acento);
    }

    90%,
    100% {
        color: transparent;
    }


}

h1::after {
    content: " ";
    animation: blink 10s linear infinite;
}

h1 {
    overflow-wrap: break-word;
    width: 100%;
    text-wrap: balance;
}

#uno,
#dos,
#tres {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-bottom: dotted var(--fondo);   
    
    background-color: #72413117;
}
#tres{
    border-bottom: none;
}


#buscador {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#buscador input {
    width: max-content;
    text-align: center;
    border: none;
    border-bottom: solid #ecaf2d9a;
    padding: 0.5rem 1rem;
    align-self: center;
    background-color: #72413117;
}

#buscador input::placeholder {
    color: var(--primario);
}

#seleccion {
    border-top: solid 1px #aaa;
    margin-top: 2rem;
}

#seleccion .card {
    display: flex;
    flex-wrap: wrap;
}


.carrusel {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;

}

.carrusel a {
    text-wrap: nowrap;
}







.card-lex {
    display: flex;
    flex-direction: column;
    background-color: #7241312f;
    padding: 1rem;
    margin: 0.5rem;

    border-radius: 0.5rem;
}

.card-h {
    margin: 0;
}

.card-lex-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-lex-content a {
    flex-basis: 40%;
    text-wrap: balance;
}





.card-docs {
    background-color: #7241312f;
    margin: 0.5rem;
    padding: 2rem 1rem;
    border-radius: 0.2rem 1rem;
}

.card-docs-content {
    font-style: italic;
    text-wrap: balance;
    text-indent: 0.5rem;

}



div p {
    color: #ecaf2d98;
}

h4 {
    color: var(--primario);
}

footer {
    border-top: solid 1px #724131b0;

}

#footer-datos {
    padding: 2rem;
}

footer p {
    color: var(--primario);
}

footer h3,
footer b {
    color: #91523d;
}

#footer-cita {
    text-align: center;
    background-color: #72413117;
    padding: 2rem;
}

#cita {
    text-align: left;
    font-style: italic;
}

#cita p {
    color: #ecaf2dc7;
    text-wrap: balance;
    margin-bottom: 2rem;
}

#ref {
    text-align: end;
    color: #ecaf2dc7;
    font-weight: bold;
}