    :root {
        --fondo: #151115;
        --primario: #C1B1C0;
        --secundario: #724131;
        --acento: #ECB12D;
        --texto: #F1E9F0;
    }


    * {
        box-sizing: border-box;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: var(--texto);        
    }

    body {
        padding: 0;
        margin: 0;
        background-color: var(--fondo);
    }
    p::selection{
        color: #ec9837;
    }
    hr {
        width: 50dvw;
        border: none;
        border-bottom: dotted #7241312f;
    }

    a:hover {

        border-bottom: none;
        border-left: solid 5px var(--acento);
        transition: all 200ms;
        color: var(--texto);
    }

    a {
        font-size: 0.9rem;
        color: var(--acento);
        text-decoration: none;
        padding: 0.5rem;
        margin: 0.5rem;
        border-bottom: solid 1px;
        cursor:help;
    }

    input {
        width: max-content;
        text-align: center;
        border: none;
        border-bottom: solid #ecaf2d9a;
        padding: 0.5rem 1rem;
        align-self: center;
        background-color: #72413117;
    }
    
    input::placeholder {
        color: var(--primario);
    }