@import "../res_lex/reset_lex.css";


#index {
    display: flex;
    flex-direction: column;
}
p{   
    line-height: 3rem;
}

details p {
    margin: 0;
}

dd::before {
    content: "# ";  
    color: var(--acento);
}
dd{
    margin: 0;
    text-indent: 1rem;
}
dd::selection{
    color: var(--acento);
}

b,
dt {    
    color: var(--acento);    
}
dt{
    font-weight: bold;
}





dl {  
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 1rem 0;
    border: solid 1.5px var(--acento);
}

main{
    padding: 1rem;
}


