@import "../res_lex/reset_lex.css";


#index {
    display: flex;
    flex-direction: column;
}

body {
    background-color: #72413146;

}


details {
    border-bottom: solid 1px #f1f1f127;
}

dd::before {
    content: "# ";
    color: var(--acento);
}

dd {
    margin: 1rem;
    border-bottom: solid 1px;
    line-height: 2rem;

}

dd::selection {
    color: orange;
}

dt {
    color: orange;
}

p a {
    display: inline-block;
    padding: 0;
    border-bottom: none;
    font-style: italic;
}

dt {
    font-weight: bold;
    background-color: #000;
    border-radius: 0.33rem;
    padding: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}





dl {
    margin: 1rem;
    border-radius: 0.4rem;
    border: solid 1px #000;

}

dl dd:last-child {
    border: none;
}


main {
    padding: 1rem;
    padding-bottom: 4rem;
}