@import "../styles/style.css";

* {
    scroll-margin-top: 2rem;

}

nav {
    position: inherit;
}

.top,
header a {
    position: fixed;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: solid 1px;

}

header a {
    bottom: 0;
    left: 0;
    background-color: var(--dark);
    color: var(--warning);

}

header a::before {
    content: "Volver";
}

.top {
    bottom: 0;
    right: 0;
    background-color: var(--dark);
    color: var(--warning);
}

.top::before {
    content: "Subir";
}

#myBtn {
    margin-top: 1rem;
    padding: 1rem;

}

nav input {
    margin-top: 0.5rem;
}

nav a::before {
    content: " ";
}



nav h3 {
    padding: 0 1.5rem;
}

#buscador {
    display: flex;
    flex-direction: column;
}


nav details {
    text-align: justify;
    padding: 1rem;
}

summary::before {
    content: "+ ";
    font-weight: 700;

}

details[open] summary::before {
    content: "- ";
    font-weight: 700;


}

summary {
    border: solid 1px var(--gray);
    display: block;
    background-color: rgba(0, 0, 0, 0.315);
    padding: 1rem;
    border-top-left-radius: 0.5rem;
    cursor: pointer;
    font-weight: 600;
}

details div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;

}

details div div {
    border-top: solid 1px var(--gray);
    background-color: rgba(0, 0, 0, 0.089);
}


details a::before {
    content: "#";
    font-weight: 200;
    font-size: large;
}


#buscador div {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
}


#buscador a {
    text-align: center;
    padding: 0.5rem;

}


p:target::before,
h3:target::before,
.found::before {
    content: "# ";
    font-weight: 900;
    font-size: x-large;
    color: var(--warning);
}

p:target {
    border-top: solid var(--warning);
    scroll-margin-top: 5rem;
}


main h3 {
    text-align: center;
    margin: 2rem 0;
}

main p {
    margin: 2rem 1rem;
}

.found {
    border-top: solid 1px var(--warning);
    padding-top: 1.5rem;
}