@import "../styles/values.css";

* {
    scroll-margin-top: 2rem;

}

body {
    background-color: var(--fondo);

}

header {
    padding: 1rem;
    text-align: center;
    color: #ecb12d;
}

h1 {
    color: #ecb12d;
}

h2 {
    color: #ec9837;
}

nav h3 {
    display: block;
    margin: auto;
    padding: 1rem;
    margin-bottom: 0.5rem;
}


.top,
header a {
    position: fixed;
    margin: 1rem;
    padding: 0.5rem;
    font-weight: 700;
}

main {
    background-color: #72413117;
    border-top: dotted var(--secundario);

}

header a {
    bottom: 0;
    left: 0;
    background-color: var(--fondo);
    color: var(--acento);

}

header a::before {
    content: "Volver";
}

.top {
    bottom: 0;
    right: 0;
    background-color: var(--fondo);
    color: var(--acento);
}

.top::before {
    content: "Subir";
}

#myBtn {
    margin-top: 1rem;
    padding: 1rem;

}

nav input {
    margin-top: 0.5rem;
}


#buscador {
    display: flex;
    flex-direction: column;
}


nav details {
    text-align: justify;
    padding: 1rem;
}

summary::after {
    content: "_ Mostrar";
    font-weight: 700;
    color: #aaa;

}

details[open] summary::after {
    content: "_ Ocultar";
    font-weight: 700;
    color: #aaa;
}


summary {
    margin: 1rem 0;    
    cursor: help;
    color: var(--acento);
    display: block;
    background-color: #72413117;
    padding: 1rem;
    border-top-left-radius: 0.5rem;    
    font-weight: 600;
}


details div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
}

details div div {
    background-color: #72413117;
}



details a::before {
    content: "#";
    font-weight: 200;
    font-size: large;
}


#buscador div {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
}


#buscador a {
    text-align: center;
    padding: 0.5rem;

}


p:target::before,
h3:target::before,
.found::before {
    content: "# ";
    font-weight: 900;
    font-size: x-large;
    color: var(--acento);
}

p:target {
    border-top: solid var(--acento);
    scroll-margin-top: 5rem;
}


main h3 {
    text-align: center;
    margin: 0;
    color: #ec9837;
    background-color: var(--fondo);
    padding: 1rem;
}
main h3:first-child{
    margin-top: 2rem;
}

main p {
    margin: 2rem 2rem;
    text-indent: 1rem;
    line-height: 3rem;
    color: var(--texto);
}

.found {
    border-top: solid 1px var(--acento);
    padding-top: 1.5rem;
}