@import "../styles/reset.css";

* {
    scroll-margin-top: 2rem;

}


#buscador div {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    background-color: var(--gray);
    margin: 0;
    padding: 1rem;
}

#buscador h3 {
    margin: 0;
}


#buscador a {
    text-align: center;
    padding: 0.5rem;
    background-color: #000;
    margin: 1rem;
    color: orange;
    border-radius: 0.4rem;
}



.top,
header a {
    position: fixed;
    margin: 1rem;
    padding: 0.5rem;
    font-weight: 700;
    border: solid 2px orange;
}



header a {
    bottom: 0;
    left: 0;
    background-color: #000;
    color: orange;
    border-radius: 0.4rem;

}

header a::before {
    content: "Volver";
}

.top {
    bottom: 0;
    right: 0;
    background-color: #000;
    color: orange;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;

}

.top::before {
    content: "Subir";
}


p:target::before,
h3:target::before,
.found::before {
    content: "# ";
    font-weight: 900;
    font-size: x-large;
    color: brown;
}

p:target {
    border-top: solid orange;
    scroll-margin-top: 5rem;
}

.found {
    border-top: solid 1px brown;
    padding-top: 1.5rem;
}