@import "../res_lex/reset_lex.css";


#index {
    display: flex;
    flex-direction: column;
}

dd,
li {
    color: #f1f1f1;
    border-left: solid 1px orange;
    padding: 0.5rem;
    margin: 1rem;
    font-style: italic;
}

dt {
    color: orange;
    font-weight: bold;
}

dl {
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    padding: 1rem;
}

p a,
sup a {
    color: #f1f1f1;
    display: inline;
    padding: 0;
}

details {
    margin: 1rem;
    cursor: pointer;
    border: solid 1px #16161d;
    padding: 0.5rem;
    border-radius: 0.4rem;
    padding-top: 0;
}

summary {
    list-style-type: none;
    font-weight: bold;
    padding: 1rem;
    background-color: #f3f5fc;
    color: #16161d;
}

summary:hover {
    color: orange;
}

summary::before {
    content: url(/icons/search.svg);
    margin: 0.5rem;
}

details div:first-of-type {
    overflow: auto;
    max-height: 50dvh;
    padding: 1rem;
}

details[open] summary {
    color: #16161d;
}

main {
    margin: auto;
}

dd li {
    border: none;
    margin: 0;
}

i{
    font-weight: bold;
    color: #eb7777;
}