* {
    scroll-margin-top: 2rem;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body {
    margin: 0;

}

header {
    background-color: #000;
    padding: 1rem;
    text-align: center;
}

h1 {
    color: orange;
}

h2 {
    color: #f1f1f1
}

h3 {
    background-color: #000;
    color: orange;
    margin: 0;
    padding: 1rem;
}

#indice {
    width: 80dvw;
    max-height: 50dvh;
    margin: auto;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.014);
    border-top: solid;
    border-bottom: solid;
}

#indice h3 {
    margin: 0;
    text-align: center;
    padding: 0.5rem;
}

a {
    display: block;
    padding: 0.5rem;
    border-bottom: solid 1px #ccc;
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

a:hover {
    background-color: #000;
    color: #ffa500;
}

#buscador div {
    text-align: center;
    padding: 2rem;
}




#buscador a {
    padding: 1rem;
    margin: 1rem;
}




header a {
    position: fixed;
    margin: 1rem;
    padding: 0.5rem;
    font-weight: 700;
    border: solid 2px orange;
}



header a {
    bottom: 0;
    left: 0;
    background-color: #000;
    color: orange;
    border-radius: 0.4rem;

}

#menu {
    position: fixed;
    background-color: #000;
    bottom: 0;
    width: 100%;
    padding: 1rem;
}

#menu a {
    display: inline;
    border: none;
    color: orange;
}

#menu button {
    background-color: black;
    color: orange;
    border: none;
    padding: 0 0.5rem;
    margin: 0 0.5rem;
    cursor: pointer;
}

#menu button:last-of-type {
    border-right: solid 1px #ccc;
}


#menu span {
    color: white;
    border-left: solid 1px #ccc;
    padding-left: 0.5rem;
}


main {
    margin-top: 1rem;
    background-color: #000;
    padding-bottom: 3rem;
}

article {
    max-width: 80dvw;
    margin: auto;
}

p {
    color: #f1f1f1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    color: #ccc;
    margin-bottom: 2rem;
}

main h3 {
    border-bottom: solid 1px #ccc;
    text-align: center;
}


p:target::before,
h3:target::before,
.found::before {
    content: "# ";
    font-weight: 900;
    font-size: x-large;
    color: brown;
}

p:target {
    border-top: solid orange;
    scroll-margin-top: 5rem;
}

.found {
    border-top: solid 1px brown;
    padding-top: 1.5rem;
}

span{
    font-style: italic;
    color: orange;
}