@import "../res_archive/reset_archive.css";

#inputs {
    text-align: center;
}

input {
    margin-bottom: 1rem;
}


button {
    border: none;
    background-color: #7787946b;
    padding: 1rem;
    font-weight: 800;    
    display: block;
    width: 50dvw;
    margin: auto;
    cursor: pointer;
    border-radius: 0.2rem;
    color: var(--light);

}

button:hover {
    background-color: #8699a8;
}