@import "../res_archive/reset_archive.css";

#inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}



button {
    border: none;
    background-color: #778794;
    padding: 0.5rem 1rem;
    font-weight: bold;
    display: block;
    width: 100%;
    margin: 0.5rem 0;
    cursor: pointer;
}

button:hover {
    background-color: #8699a8;
}