@import "../res_archive/reset_archive.css";

#inputs {
    text-align: center;
}

main * {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


input {
    padding: 0.5rem 1rem;
    margin: 1rem;
    text-align: center;
    color: #16161d;
}



main button {
    border: none;
    padding: 0.5rem;
    width: 40dvw;
    margin-bottom: 1rem;
    margin-top: 1rem;
    cursor: pointer;    
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    border-bottom: solid orange;
    background-color: inherit;

}